
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
        <meta charset="utf-8"></meta>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
        <meta name="description" content=""></meta>
        <meta name="author" content=""></meta>
        <title>Create a new account</title>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css"></link>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"></link>
        <link rel="stylesheet" href="css/main.css"></link>
        <link rel="icon"
              type="image/x-icon"
              href="favicon.ico"></link>
        <link rel="icon"
              type="image/x-icon"
              href="favicon.ico"></link>
        <!-- Overide the sidebar css -->
        <style>
            .sideBarClass{
                margin-top: 0;
            }

            .breadCrumbs{
                font-size: 18px;
                color:  #00be9f;
                padding-left: 0px;
            }
        </style>
    </head>
    <body>


        <div th:replace="header :: header">Header</div>

        <div class="container">

            <div class="row  mainContent">

                <div class="col s12 m12 l10">

                    <div class="container" style="width: 90%;">

                        <div class="row breadCrumbs">
                            <div class="col s12" style="font-size: smaller;" >
                                <a  onclick="langGR()" style="cursor: pointer">Greek</a>
                                <a  onclick="langEN()" style="cursor: pointer; margin-left: 0.5rem;">English</a>
                            </div>

                            <div class="col s12" style="font-size: larger;" th:text="#{linked.accounts}">
                                <!--<span th:text="#{step}">STEP | </span> <b th:text="#{step.go}">GO!</b>-->
                              
                            </div>

                        </div>

                        <div class="row instructions">
                            <div  id="mobile" class="col s12 flow-text hide-on-large-only">
                                This is a test Mobile view

                                These are your linked accounts                              
                            </div>
                            <div   class="col s12  hide-on-med-and-down " >

                                <!--The following eIDS have been linked together-->

                                <table class="striped col l10">
                                    <thead>
                                        <tr>
                                            <th>e-Identifier</th>
                                            <th>Source of Origin</th>
                                        </tr>
                                    </thead>
                                    <th:block th:each="link : ${links.linked}">
                                        <tr>
                                            <td th:text="${link.eid}">...</td>
                                            <td th:text="${link.source}">...</td>
                                        </tr>
                                    </th:block>
                                </table>                            
                            </div>
                        </div>



                    </div>
                </div>



                <!--                <div class="col s12 m12 l2">
                                    <div   th:replace="sidebar :: sidebar"></div>
                                </div>-->




            </div>
            <!--<div th:replace="modalProperties :: modalProperties"></div>-->
            <div class="row" th:replace="footer :: footer"></div>

        </div>

        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
        <script th:inline="javascript">
                                    /*<![CDATA[*/
                                    $(document).ready(function () {

                                    });
                                    function langGR() {
//                                        window.location.href = 'login?localeCode=gr';
                                          insertParam("localeCode","gr");
                                    }
                                    function langEN() {
                                        insertParam("localeCode","en");
//                                        window.location.href = 'login?localeCode=en';
                                    }
                                    
                                    function insertParam(key, value)
                                    {
                                        key = encodeURI(key);
                                        value = encodeURI(value);

                                        var kvp = document.location.search.substr(1).split('&');

                                        var i = kvp.length;
                                        var x;
                                        while (i--)
                                        {
                                            x = kvp[i].split('=');

                                            if (x[0] == key)
                                            {
                                                x[1] = value;
                                                kvp[i] = x.join('=');
                                                break;
                                            }
                                        }

                                        if (i < 0) {
                                            kvp[kvp.length] = [key, value].join('=');
                                        }

                                        //this will reload the page, it's likely better to store this until finished
                                        document.location.search = kvp.join('&');
                                    }
                                    /*]]>*/
        </script>
    </body>
</html>
